<div class="tasks-header">
  <%= image_tag 'header.png' %>
</div>
<div class="title-container">
  <span>My Tasks</span>
</div>
<div class="tasks-container">
  <% @tasks.each do |task| %>
    <div class="task">
      <!--
      <% if task.completed %>
        <i class="far fa-check-square task-checkbox"></i>
      <% else %>
        <i class="far fa-square task-checkbox"></i>
      <% end %>
      -->
      <!--
      <%= form_for(task) do |f| %>
        <p><%= f.check_box :completed, id: "checkbox_submit"%></p>
        <p><%= f.submit %></p>
      <% end %>
      -->

      <input type="checkbox" id="checkbox_submit">
      <div class="task-content">
        <%= link_to task.title, task_path(task) %>
      </div>
      <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="far fa-trash-alt task-delete-btn"></i>
      <% end %>
    </div>
  <% end %>
  <div class="task-add-btn">
    <%= link_to '+ Add New Task', new_task_path %>
  </div>
</div>
